@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@700&family=Anta&family=Open+Sans:ital,wght@0,750;1,750&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Namdhinggo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#about {
    width: 100vw;
    min-height: 90vh;
    /* margin-top: 10px; */
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    padding-bottom: 1rem;
}

#about section:nth-child(1) {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

#about .img-div {
    /* border: 1px solid red; */
    width: 60%;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-div .color-img,
.img-div .black-white-img {
    width: 80%;
    height: 100%;
    border-radius: 3px;
}

.img-div .color-img {
    display: none;
}

.img-div:hover .color-img {
    display: block;
}

.img-div:hover .black-white-img {
    display: none;
}

#about section:nth-child(2) {
    width: 45%;
    margin-right: 1rem;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

#about section:nth-child(2) h2,
#about section:nth-child(2) h3 {
    font-family: "Annapurna SIL", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(1, 1, 48);
}

#about section:nth-child(2) h2 {
    font-size: 2.2rem;
}

#about section:nth-child(2) p {
    width: 80%;
    margin-top: 1rem;
    font-family: "Namdhinggo", serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2rem;
    font-size: 1.1rem;
    color: rgb(1, 1, 23);
}

#about section:nth-child(2) .resume-download-btn {
    width: max-content;
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #4C43CD;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: normal;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    margin-top: 2rem;
   

}

#about section:nth-child(2) .resume-download-btn .icon {
    font-size: 1.5rem;
}
@media screen and (max-width:1200px){
    #about .img-div{
        width: 70%;
    }
}
@media screen and (max-width:1000px){
    #about .img-div{
        width: 80%;
    }
}
@media screen and (max-width:766px){
    #about{
        flex-direction: column;
        gap: 4rem;

    }
    #about section:nth-child(1){
        width: 70%;
    }
    #about .img-div{
        margin-top: 3rem;
        width: 70%;
    }
   
    #about section:nth-child(2){
        width: 80%;
        padding-bottom: 4rem;
    }
}

@media screen and (max-width:500px) {
    #about section:nth-child(1){
        width: 80%;
    }
    #about .img-div{
        margin-top: 3rem;
        width: 80%;
    }
    #about section:nth-child(2){
        width: 90%;
    }
}