/*SECTION - ------- Project curds css---------------- */

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*  */


.btn {
  border: none;
  padding: 1px;
  height: 2rem;
  width: 2rem;
  border-radius: 24px;
  font-size: 12px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgb(38, 37, 37);
}

.btn:hover {
  color: rgb(249, 8, 8);
  font-size: 1.8rem;
}

.tools-container {
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tools-container .tool-name {
  width: fit-content;
  height: fit-content;
  padding: 7px;
  border-radius: 15px;
  /* background-color: white; */
  background: #91c0e2;
  color: rgb(51, 49, 49);
  font-size: .8rem;
  font-weight: 700;
}
