@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu&display=swap');

.nav {


    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100vw;
    background-color: white;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.nav a {
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #01012a;
    letter-spacing: 2px;
    text-shadow: 1px 0px 1px rgba(21, 22, 72, 0.4);
}
.nav section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: 100%;
    width: 20%;

}
.nav section:nth-child(1) .nav-logo {
    width: 15rem;
}

.nav section:nth-child(1) h3 {
    color: #03034c;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 1px 0px 1px rgba(21, 22, 72, 0.4);
}

.nav section:nth-child(2) {
    /* border: 1px solid red; */
    margin-right: 50px;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 5px 0px 5px;
    gap: 1rem;

}
.nav section:nth-child(2) a{
    font-size: 1.2rem;
}

.nav .mobile-nav-items-dialog{
    /* border: 1px solid red; */
    position: absolute;
    top: 70px;
    right: 2px;
    width:150px;
    height:max-content;
    box-shadow: 0 0 10px #85888C;
    background-color: #F5F6FA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-top: 1rem; */
    padding: 1rem;
   gap: 20px;

  
}
.nav .mobile-nav-items-dialog a{
    font-size: 1.4rem;
    width: 100%;
  
   }
   .nav section:nth-child(2)  .active,
   .nav .mobile-nav-items-dialog .active,
   .nav a:hover {
    color: orange;
    text-decoration: underline;
}

@media screen and (max-width:900px) {
    /* .nav section:nth-child(1) .nav-logo{
        font-size: 2.3rem;
    } */
    .nav section:nth-child(1) h3{
        font-size: 1.3rem;
    }
    .nav section:nth-child(2) a{
        font-size: 1rem;
    }
}

@media screen and (max-width:768px) {
    .nav {
        justify-content: space-between;
    }
    .nav section:nth-child(1) .nav-logo {
        width: 12rem;
    }
    .nav section:nth-child(1) {
        /* border: 1px solid red; */
        margin-left: 10px;
        flex-direction: column;
        width: 25%;

        h3 {
            font-size: 1.2rem;
            letter-spacing: 2px;
        }
    }

    .nav section:nth-child(2) {
        margin-right: 10px;

        .toggle-btn{
            font-size: 2.7rem;
        }
    }

}

@media screen and (max-width:400px) {
    .nav section:nth-child(1) {
        width: 35%;
    }
}