*{
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
body{
  background: #eceef9;
  overflow-x: hidden;
}
.color-02aabd{
  color: #02aabd;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

.color-ff5500{
  color: #ff5500;
}